/* #container{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    margin: auto;
} */

.main{
    width:400px;
    height: 400px;
    background-color: blueviolet;
    position: sticky;
    top: 0px;
}

/* .sub{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    left:100px;
    top: 50px;
} */

p{
    padding-top: 2000px;
}